---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout title="Posts" description="posts...">
  <article class="prose">
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
  </article>
</BaseLayout>
