---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="404" description="Esta página no existe">
	<div class="mt-8 flex flex-col items-center justify-center">
		<h1 class="text-5xl font-extrabold">Página no encontrada</h1>
		<p class="mt-4 leading-7">La página que buscas no existe</p>
		<a class="my-8" href="/" rel="noreferrer">Volver</a>
	</div>
</BaseLayout>
