---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { buttonVariants } from '@/components/ui/button';

const frontmatter = {
	title: 'Jordi Rivero',
	description: 'Director Técnico, Desarrollador, Fotógrafo desde Barcelona',
	author: 'Jordi Rivero',
};
---

<BaseLayout title={frontmatter.title} description={frontmatter.description} author={frontmatter.author}>
	<div class="mx-auto h-48 items-center">
		<img width="200" height="200" class="rounded-full" src="/jordi-rivero.webp" alt="Jordi Rivero Avatar" />
	</div>
	<p>
		A lo largo de mi trayectoria, he tenido el privilegio de sumergirme en emocionantes proyectos relacionados con el
		desarrollo de aplicaciones web, una de mis grandes pasiones. Además, mi amor por la fotografía, la <a
			href="/calistenia/">calistenia</a
		> y el <a href="/ajedrez/">ajedrez</a> me brinda el equilibrio perfecto para desconectar y mantenerme en forma.
	</p>
	<p>
		Lo que comenzó como un hobby, mi pasión por la programación se convirtio en mi profesión. Mi conocimiento abarca
		diversos lenguajes de programación, manteniéndome actualizado en todos los conceptos técnicos de desarrollo,
		incluyendo SEO y marketing. Aplico mi experiencia para idear soluciones innovadoras y eficientes en cada proyecto en
		el que me involucro.
	</p>
	<p>
		Desde el 2010, lidero las decisiones técnicas y aporto mi experiencia en áreas clave para el éxito de <a
			href="https://leadtech.com/">Leadtech</a
		>. Me encantan los desafíos y estoy siempre dispuesto a aprender de mis colegas.
	</p>
	<p>
		Cuando no estoy inmerso en el trabajo, encuentro placer en la fotografía inmortalizando momentos especiales. Ya sea
		capturando momentos con mi Nikon D7200, mi Olympus OM-D E-M10 Mark II, o mi iphone 13.
	</p>
	<p>
		La <a href="/calistenia">calistenia</a> es mi ritual para mantenerme en forma, mientras que de vez en cuando, desafío
		mi mente con partidas de <a href="/ajedrez/">ajedrez</a>. Hallar un equilibrio entre trabajo y tiempo libre es
		esencial para mí.
	</p>
</BaseLayout>
