---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
---

<BaseLayout
  title="Jordi Rivero"
  description="Director Técnico, Desarrollador, Fotógrafo desde Barcelona"
>
  <h1
    class="text-3xl font-extrabold md:text-4xl"
  >
    Jordi Rivero
  </h1>
  <!-- <img src="/jordi-rivero.webp" alt="Jordi Rivero Foto" width="300" height="300"> -->
  <p class="max-w-[700px] text-lg text-muted-foreground">
    Desde mi infancia, la tecnología ha sido mi fascinación más profunda. A lo
    largo de mi trayectoria, he tenido el privilegio de sumergirme en
    emocionantes proyectos relacionados con el desarrollo de aplicaciones web,
    una de mis grandes pasiones. Además, mi amor por la fotografía, la <a
      href="/calistenia">calistenia</a
    > y el ajedrez me brinda el equilibrio perfecto para desconectar y
    mantenerme en forma.
  </p>
  <p class="max-w-[700px] text-lg text-muted-foreground">
    Desde el 2010, ocupo el cargo de director técnico en Leadtech, una de las
    empresas tecnológicas más destacadas de España. En mi papel diario, lidero
    las decisiones técnicas y aporto mi experiencia en áreas clave para el éxito
    de la empresa. Me emociona abrazar nuevos desafíos y estoy siempre dispuesto
    a aprender de mis colegas.
  </p>
  <p class="max-w-[700px] text-lg text-muted-foreground">
    Lo que comenzó como un hobby, mi pasión por la programación se ha convertido
    en mi profesión. Mi conocimiento abarca diversos lenguajes de programación,
    manteniéndome actualizado en todos los conceptos técnicos de desarrollo,
    incluyendo SEO y marketing. Aplico mi experiencia para idear soluciones
    innovadoras y eficientes en cada proyecto en el que me involucro.
  </p>
  <p class="max-w-[700px] text-lg text-muted-foreground">
    Cuando no estoy inmerso en el trabajo, encuentro placer en la fotografía. Ya
    sea capturando momentos con mi Nikon D7200 o mi Olympus OM-D E-M10 Mark II,
    o utilizando mi smartphone en mis viajes, la fotografía es mi medio para
    inmortalizar momentos especiales. La <a href="/calistenia">calistenia</a> es
    mi ritual para mantenerme en forma, mientras que de vez en cuando, desafío
    mi mente con partidas de ajedrez. Hallar un equilibrio entre trabajo y
    tiempo libre es esencial para mí.
  </p>
</BaseLayout>
