<footer class="border-t border-stone-200 py-2 text-center text-sm text-stone-600 md:text-left">
	<p class="container max-w-4xl mx-auto">Jordi Rivero</p>
</footer>
<script defer src="https://eu.umami.is/script.js" data-website-id="033be64a-5f35-4177-8255-50707ce7f7d3"></script>
