<footer class="border-t py-4 text-slate-500 dark:text-gray-300 md:px-8 md:py-0">
  <div class="container flex max-w-[960px] flex-col items-center justify-between gap-4 md:h-16 md:flex-row">
    <p class="text-center text-sm leading-loose md:text-left">Jordi Rivero</p>
  </div>
</footer>
