<header
	class="sticky top-0 z-20 border-b border-zinc-800 bg-black/80 backdrop-blur-sm"
>
	<div class="flex max-w-4xl py-4 px-8 mx-auto items-center justify-between">
		<a class="text-xl font-black italic uppercase tracking-tighter" href="/"
			>Jordi Rivero</a
		>
		<nav class="flex gap-6">
			<a
				class="font-mono text-[10px] uppercase tracking-widest text-zinc-400 hover:text-white underline underline-offset-4"
				href="/posts">Archive</a
			>
			<a
				class="font-mono text-[10px] uppercase tracking-widest text-zinc-400 hover:text-white underline underline-offset-4"
				href="https://x.com/jrivero"
				target="_blank"
				rel="me">Connect</a
			>
		</nav>
	</div>
</header>
