---
import { buttonVariants } from '@/components/ui/button'
import ThemeToggle from '@/components/ThemeToggle.astro'
---

<header class="sticky top-0 z-20 border-b bg-white bg-opacity-30 backdrop-blur-lg backdrop-filter">
  <div class="container flex max-w-[960px] flex-col flex-wrap items-center py-2 sm:py-4 md:flex-row">
    <a class="title-font items-center text-xl font-medium text-gray-900 md:mb-0" href="/"> Jordi Rivero</a>
    <nav class="flex flex-wrap items-center justify-center text-sm font-semibold md:ml-auto">
      <a href="https://x.com/jrivero/" target="_blank" rel="me" class="ml-5 hover:underline">Twitter</a>
      <a href="https://github.com/jrivero/" target="_blank" rel="me" class="ml-5 hover:underline">GitHub</a>
      <a href="https://www.linkedin.com/in/jordirivero/" target="_blank" rel="me" class="ml-5 hover:underline">Linkedin</a>
      <a href="https://mastodon.social/@jrivero" target="_blank" rel="me" class="ml-5 hover:underline">Mastodon</a>
    </nav>
  </div>
</header>
