<header class="sticky top-0 z-20 border-b border-slate-200 bg-white bg-opacity-30 backdrop-blur-md backdrop-filter">
  <div class="container flex max-w-[960px] flex-col flex-wrap items-center py-2 sm:py-4 md:flex-row">
    <a class="title-font items-center text-xl font-medium text-gray-900 md:mb-0" href="/"> Jordi Rivero</a>
    <nav class="flex flex-wrap items-center justify-center text-sm font-semibold md:ml-auto">
      <a href="https://x.com/jrivero" target="_blank" rel="me">twitter</a>
    </nav>
  </div>
</header>
