<header class="sticky top-0 z-20 border-b border-stone-200 bg-white bg-opacity-30 backdrop-blur-md backdrop-filter">
	<div class="container flex max-w-4xl flex-wrap py-2 sm:py-4">
		<a class="grow text-2xl font-medium" href="/">Jordi Rivero</a>
		<a class="mt-1" href="https://x.com/jrivero" target="_blank" rel="me">@jrivero</a>
	</div>
</header>
