---
import HeadSEO from '@/components/HeadSEO.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import { Breadcrumbs } from "astro-breadcrumbs";

import "astro-breadcrumbs/breadcrumbs.css";

interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
}


const showBreadcumbs = Astro.url.pathname !== '/'
const { title, description, ogImage } = Astro.props
---

<html lang="es">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="font-sans antialiased">
    <Header />
    <main class="container grid max-w-[960px] items-center gap-4 py-6">
      {showBreadcumbs && <Breadcrumbs indexText="Inicio" />}
      <slot />
    </main>
    <Footer />
  </body>
</html>
