---
import BaseLayout from '@/layouts/BaseLayout.astro'
const allPosts = await Astro.glob('./*.md')
const pageTitle = 'Calistenia'
---

<BaseLayout title="Calistenia - Jordi Rivero" description="La calistenia es mi ritual para mantenerme en forma">
  <h1>Calistenia</h1>
  <p>
    La calistenia es una forma de entrenamiento que hace uso del peso corporal para ejercitar y fortalecer los músculos. Se pueden entrenar muchas
    partes del cuerpo utilizando esta técnica.
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
  <p>
    Recuerda que la calistenia es versátil y puede adaptarse a diferentes niveles de condición física. También es importante trabajar todas las partes
    del cuerpo de manera equilibrada para evitar desequilibrios musculares y lesiones. Siempre asegúrate de mantener una técnica adecuada y progresar
    gradualmente en tu rutina de entrenamiento.
  </p>
</BaseLayout>
